<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLinkActive="active" routerLink="">CallAVet</a>
 <ul class="navbar-nav mr-auto">
       <li class="nav-item">
               <a class="nav-link" routerLink="/incidents" routerLinkActive="active"><i size= "3x"class="fa fa-book"></i>Incidents</a>
        </li>
     </ul>

  <span class="navbar-text">
        <a class="btn btn-default" routerLink="/register" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i></a>
   </span>
</nav>