<div class="container">
  <div class="row card">
    <div class="col-md-10">
      <h3><i class="fa fa-user-circle-o" aria-hidden="true"style="color:#007bff;"></i>
      </h3>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">
         
        </textarea>
        <br>
        <a  class="btn btn-primary" routerLink="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
          Post</a><br>
      </div>
    </div>
  </div>
</div>
