<div class="container login-form">
    <div class="form">
        <div class="note">
            <p>Verify Account</p>
        </div>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="OTP *" value=""/>
                    </div>
                </div>
            </div>
            <button type="button" class="btnSubmit">Submit</button>
        </div>
    </div>
</div>